html, body {
    margin: 0px;
    position: relative;
    background-color: #363030; /* This should match your logo's color */
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
img {
    display: none;
}
